body { 
    background-color: orange;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p { 
    padding: 0; 
    margin: 0;
}

/* click button to close pop up */
#close-popup { 
    position: absolute;
    text-align: center;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

/* click button to display custom item menu*/
.order-now { 
    padding: 25px;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
}

#popup-bg { 
    display: none;
}

.popup-main { 
    background-color:white;
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

/* fixed menu item and close popup */
.header-container { 
    position: fixed;
    top: 0;
    width: 100%;
}

/* menu item header and close popup */
.header { 
    background-color: white;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    border: none;
}

.close-popup { 
    background-color: white;
    border: none;
}

/* click button to add item to cart  */
.add-button { 
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    position: fixed;
    bottom: 0;
}

.item-image { 
    text-align: center;
    margin: 20px;
    width: 100%;
    height: auto;
}

.category { 
    background-color: lightgray;
    margin: 0;
    padding: 10px 15px;
}

/* adds space inbetween input radio and checkout buttons */
form { 
    padding: 15px;
    line-height: 30px;
}

.quantity-container { 
    padding-bottom: 70px;
    
}

.category-quantity { 
    background-color: lightgrey;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;

}

.input-group { 
    display: flex;
    flex-direction: row;
}

.input-group-btn { 
    border: none;
}

@media only screen and (min-width: 768px) {
/* popup background   */
#popup-bg { 
    position: absolute;
    /* top: 0;
    left: 0; */
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100vh;
} 

/* main custom item menu  */
.popup-main { 
    background-color: white;
    position: absolute;
    width: 425px;
    height: 550px;
    overflow-y: scroll;
    border-radius: 10px;
    left: 50%; 
    top: 50%;
    margin-left: -225px;
    margin-top: -325px;
    padding: 25px;
}



}